@media(max-width: 600px){
  .page-title{
    font-size: 2.5rem;
  }
  .main-nav{
    font-size: 1rem;
    margin-top:10px;
  }
  .main-nav li{
    margin:0 20px;
  }

#news .page-title{
  padding-top: 90px;
  margin-top: 50px;
}

  .home-content{
    margin-top:20px;
  }
  .page-header{
    flex-direction: column;
    align-items: center;
  }
  .news-contents{
    flex-direction: column;
  }
  article,aside{
    width:100%;
  }

  aside{
    margin-top:60px;
  }

.post-info{
  margin-bottom:30px;

}
.post-date{
  width: 70px;
  height: 70px;
  font-size: 1rem;
}

.post-date span{
  font-size:0.875rem;
  padding-top: 2px;
}
.post-title{
  font-size:1.4rem;
}
.post-cat{
  font-size: 0.8rem;
  margin-top: 30px;
}

.post-title,.post-cat{
  margin-left: 80px;
}
}
